$darkblue: #12232E;
$lightblue: #083653;
$lightestblue: #4DA8DA;
$shadowofdarkblue: #203647;
$shadowoflightblue: #EEFBFB;

$lightgreen: #2dd60b;

$lightest: white;
$gold: #acaf0c;
$lightgold: rgb(230, 216, 26);
$lightgray: #adb5bdc4;
$mediumgray: #434649;
$darkgray: #151416;
$orangewarning: rgb(185, 75, 11);


$MobilView: 930px;
$SmallestWidth: 375px;