$darkblue: #12232E;
$lightblue: #007CC7;
$lightestblue: #4DA8DA;
$shadowofdarkblue: #203647;
$shadowoflightblue: #EEFBFB;


$lightest: white;
$gold: #acaf0c;
$lightgold: rgb(230, 216, 26);
$lightgray: #adb5bdc4;


$MobilView: 35em;